In [1]:
import pandas as pd
import time 
import numpy as np

In [2]:
df0 = pd.read_excel("Daily Tracker Jan 24.xlsx", sheet_name= "ABHFL")

In [3]:
df0.columns

Index(['Lob', 'Circle Head', 'BRANCH_DESC', 'CUSTOMER_NO', 'CUSTOMER_NAME',
       'DEAL_NO', 'LOAN_NO', 'Login_Date', 'ApplicationNumber', 'crm_lead_id',
       'PRODUCT_DESC', 'deal_source_name', 'Coborr1MOBILE_NO',
       'Coborr2MOBILE_NO', 'Coborr3MOBILE_NO', 'Coborr4MOBILE_NO',
       'Coborr5MOBILE_NO', 'CUSTOMER_EMAIL', 'DISBURSAL_DATE', 'ROI',
       'LOAN_TENURE', 'DISBURSAL_AMOUNT', 'Fees', 'MTD Disb Cust#',
       'MTD Disb Cr', 'Disb Cust Count', 'Disb Cr'],
      dtype='object')

In [4]:
df0['LOB'] = 'ABHFL'

In [5]:
columns0 = ['LOB','DEAL_NO','LOAN_NO','PRODUCT_DESC','DISBURSAL_AMOUNT','DISBURSAL_DATE','Login_Date','LOAN_TENURE','ROI','Lob','deal_source_name','CUSTOMER_NAME']

In [6]:
df0_selected = df0.loc[:, columns0]

In [7]:
# Renaming the selected columns
new_column0 = ['LOB','Product Holding Code',
'Secondary product Holding Code (Loan No, Policy No, TRXN_NO)',
'Product DESC/ Name',
'Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)',
'Disbursal/Issued Date',
'Login Date',
'Tenure/PPT',
'ROI/AGE/NOP',
'Source',
'Final Status',
'Customer name',
]

df0_selected.columns = new_column0

In [8]:
df0_selected.head()

,LOB,Product Holding Code,"Secondary product Holding Code (Loan No, Policy No, TRXN_NO)",Product DESC/ Name,"Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)",Disbursal/Issued Date,Login Date,Tenure/PPT,ROI/AGE/NOP,Source,Final Status,Customer name
0,ABHFL,DLAGR0HL-09230233959,LNAGR0HL-10230184935,HOME LOAN_AHF,100000,2024-01-05,2023-09-06,240,10.00,Affordable,Marketing Campaign,RAVI KUMAR
1,ABHFL,DLALB0HL-12230242785,3000009220,HOME LOAN_AHF,30714,2024-01-11,2023-12-06,216,10.00,Affordable,BRANCH,KAMLESH MISHRA
2,ABHFL,DLAUR0HL-08230230703,LNAUR0HL-11230189426,HOME LOAN_AHF,51005,2024-01-05,2023-08-06,204,9.35,Affordable,Marketing Campaign,SACHIN JAYPRAKASH NAVANDAR
3,ABHFL,DLBAR0HL-08230232037,LNBAR0HL-10230187030,HOME LOAN_AHF,150000,2024-01-16,2023-08-16,240,8.70,Affordable,Staff Loan,SAURABH KUMAR
4,ABHFL,DLBLR0HE-01240243381,3000010912,LAP_AHF,1500000,2024-01-12,2023-12-17,180,10.00,Affordable,LPP,NEERAJ RAMESHAN

In [9]:
df2 = pd.read_excel("Daily Tracker Jan 24.xlsx", sheet_name= "ABSAMC")

In [10]:
df2.columns

Index(['FOLIO NO', 'UNIT HOLDER NAME', 'UNIT HOLDER PAN', 'MODE OF HOLDING',
       'ADDITIONAL HOLDER1 NAME', 'ADDITIONAL HOLDER2 NAME',
       'TRANSACTION TYPE', 'SCHEME NAME OUT', 'SCHEME NAME IN', 'TRADE DATE',
       'CURRENT NAV', 'AMOUNT', 'UNITS', 'SOURCE', 'ARN CODE', 'EUIN'],
      dtype='object')

In [11]:
df2['Tenure/PPT'] = ' '
df2['ROI/AGE/NOP'] = ' '
df2['LOB'] = 'ABSAMC'

In [12]:
columns1 = ['LOB','FOLIO NO','UNIT HOLDER PAN','SCHEME NAME IN','AMOUNT','TRADE DATE','TRADE DATE','Tenure/PPT','ROI/AGE/NOP','TRANSACTION TYPE','ARN CODE','UNIT HOLDER NAME']

In [13]:
df2_selected = df2.loc[:, columns1]

In [14]:
# Renaming the selected columns
new_column1 = ['LOB','Product Holding Code',
'Secondary product Holding Code (Loan No, Policy No, TRXN_NO)',
'Product DESC/ Name',
'Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)',
'Disbursal/Issued Date',
'Login Date',
'Tenure/PPT',
'ROI/AGE/NOP',
'Source',
'Final Status',
'Customer name',
]

df2_selected.columns = new_column1

In [15]:
df2_selected.head(1)

,LOB,Product Holding Code,"Secondary product Holding Code (Loan No, Policy No, TRXN_NO)",Product DESC/ Name,"Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)",Disbursal/Issued Date,Login Date,Tenure/PPT,ROI/AGE/NOP,Source,Final Status,Customer name
0,ABSAMC,1014175569,AYIPS7306P,ABSL Midcap Fund -PLAN-Growth,1999.9,2024-01-04,2024-01-04,,,Purchase SIP,ARN-270149,Anita Shenoy

In [16]:
df3 = pd.read_excel("Daily Tracker Jan 24.xlsx", sheet_name= "FL_Mix")

In [17]:
df3['LOB'] = 'ABFL' 
df3["Product Group"] = df3["Product Group"].replace(to_replace=["STUL","STSL"],
           value="BL")
df3["Type of Product"] = df3["Application Number"].str[:4]

In [18]:
columns2 = ['LOB','Application Number','LAN','Product Group',' Total Disb Amount','Disbursal Date','Login Date','Tenor Requested'
            ,'ROI','Type of Product','SOURCE','Decision','Applicant Name']

In [19]:

df3_selected = df3.loc[:, columns2]

In [20]:
df3_selected.head()

,LOB,Application Number,LAN,Product Group,Total Disb Amount,Disbursal Date,Login Date,Tenor Requested,ROI,Type of Product,SOURCE,Decision,Applicant Name
0,ABFL,STUL00000254830,ABW_JSTU000000770989,BL,500000,2024-01-16 00:00:00,2023-12-19 13:43:12,36,25.00,STUL,FOS,FINAL_DISB,RAJE MOTORS
1,ABFL,PL00000790876,ABS_T0PL000000769654,PL,150000,2024-01-04 18:50:47,2024-01-02 16:39:20,48,29.25,PL00,DSA,FINAL_DISB,SANGEETHA N V
2,ABFL,PL00000791502,ABBAI0PL000000769532,PL,2210000,2024-01-03 13:48:12,2023-12-28 15:02:05,42,14.75,PL00,FOS,FINAL_DISB,CHANDRA PAL SINGH
3,ABFL,PL00000791536,ABBAR0PL000000769573,PL,300000,2024-01-03 18:48:58,2023-12-29 19:14:27,60,10.99,PL00,FOS,FINAL_DISB,MITESHKUMAR SUBHASHBHAI SOLANKI
4,ABFL,PL00000791832,ABS_T0PL000000769659,PL,190000,2024-01-04 15:00:54,2024-01-02 17:38:20,48,29.25,PL00,FOS,FINAL_DISB,MUTHAMILSELVAN K

In [21]:
# Renaming the selected columns
new_column2 = ['LOB','Product Holding Code',
'Secondary product Holding Code (Loan No, Policy No, TRXN_NO)',
'Product DESC/ Name',
'Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)',
'Disbursal/Issued Date',
'Login Date',
'Tenure/PPT',
'ROI/AGE/NOP',
'Type of Product',
'Source',
'Final Status',
'Customer name',
]

df3_selected.columns = new_column2

In [22]:
df3_selected.head(1)

,LOB,Product Holding Code,"Secondary product Holding Code (Loan No, Policy No, TRXN_NO)",Product DESC/ Name,"Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)",Disbursal/Issued Date,Login Date,Tenure/PPT,ROI/AGE/NOP,Type of Product,Source,Final Status,Customer name
0,ABFL,STUL00000254830,ABW_JSTU000000770989,BL,500000,2024-01-16,2023-12-19 13:43:12,36,25.0,STUL,FOS,FINAL_DISB,RAJE MOTORS

In [23]:
df4 = pd.read_excel("Daily Tracker Jan 24.xlsx", sheet_name= "BL")

In [24]:
df4['Product DESC/ Name'] = 'BL'
df4['LOB'] = 'ABFL' 
df4['Type of Product'] = 'Udyog Plus'

In [25]:
columns3 = ['LOB','Application number','LOAN_ACCOUNT_NUMBER','Product DESC/ Name','Disb Amt','Disb Date','Login Date','Tenure',
            'ROI','Type of Product','Source','Present Status',
            "Registered user's name"]

In [26]:
df4_selected = df4.loc[:, columns3]

In [27]:
new_column3 = ['LOB','Product Holding Code',
'Secondary product Holding Code (Loan No, Policy No, TRXN_NO)',
'Product DESC/ Name',
'Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)',
'Disbursal/Issued Date',
'Login Date',
'Tenure/PPT',
'ROI/AGE/NOP',
'Type of Product',
'Source',
'Final Status',
'Customer name',
]

df4_selected.columns = new_column3

In [28]:
df4_selected.head(1)

,LOB,Product Holding Code,"Secondary product Holding Code (Loan No, Policy No, TRXN_NO)",Product DESC/ Name,"Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)",Disbursal/Issued Date,Login Date,Tenure/PPT,ROI/AGE/NOP,Type of Product,Source,Final Status,Customer name
0,ABFL,83655,ABMUMDGE000000769629,BL,300000,2024-01-04,05/12/2023,36,20,Udyog Plus,Organic,Disbursed,SHAIKH RAIS SHAIKH SHAFIK

In [29]:
df5 = pd.read_excel("Daily Tracker Jan 24.xlsx", sheet_name= "ABSLI")

In [30]:
df5['LOB'] = 'ABSLI'

In [31]:
columns4 = ['LOB','Application Id','Policy No.','Plan Name','CP (without GST)','Decision Date','Date of Payment','PPT',
            'Ageing','Data Source-2','Policy status',
            "Customer Name"]

In [32]:
df5_selected = df5.loc[:, columns4]

In [33]:
new_column4 = ['LOB','Product Holding Code',
'Secondary product Holding Code (Loan No, Policy No, TRXN_NO)',
'Product DESC/ Name',
'Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)',
'Disbursal/Issued Date',
'Login Date',
'Tenure/PPT',
'ROI/AGE/NOP',
'Source',
'Final Status',
'Customer name',
]

df5_selected.columns = new_column4

In [34]:
df5_selected.head(1)

,LOB,Product Holding Code,"Secondary product Holding Code (Loan No, Policy No, TRXN_NO)",Product DESC/ Name,"Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)",Disbursal/Issued Date,Login Date,Tenure/PPT,ROI/AGE/NOP,Source,Final Status,Customer name
0,ABSLI,LA00044943,9248809.0,ABSLI Salaried Term Plan,10657,2024-01-11,2023-12-05,20.0,NaN,BRANCH,Premium paying,Swetha G

In [35]:
df6 = pd.read_excel("Daily Tracker Jan 24.xlsx", sheet_name= "ABHI")

In [36]:
df6['LOB'] = 'ABHI'
df6['Type of Product'] = 'Health'
df6['Policy Tenure'] = df6['Policy Tenure']*12

In [37]:
columns5 = ['LOB','Proposal ID','Policy Number','Product Name','GWP','PR Date','Inwarded Date OG','NOP',
            '# of Members','Type of Product','BSC Name','Proposal  Sub-Status',
            "Insured Name"]

In [38]:
df6_selected = df6.loc[:, columns5]

In [39]:
new_column5 = ['LOB','Product Holding Code',
'Secondary product Holding Code (Loan No, Policy No, TRXN_NO)',
'Product DESC/ Name',
'Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)',
'Disbursal/Issued Date',
'Login Date',
'Tenure/PPT',
'ROI/AGE/NOP',
'Type of Product',
'Source',
'Final Status',
'Customer name',
]

df6_selected.columns = new_column5

In [40]:
df6_selected.head(1)

,LOB,Product Holding Code,"Secondary product Holding Code (Loan No, Policy No, TRXN_NO)",Product DESC/ Name,"Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)",Disbursal/Issued Date,Login Date,Tenure/PPT,ROI/AGE/NOP,Type of Product,Source,Final Status,Customer name
0,ABHI,Q230005490055,12-23-0040663-00,Activ Secure,363,2024-01-01,2024-01-01 17:52:07,1,1.0,Health,Direct,IF,JYOTHISH VIDHYADHARAN

In [41]:
final_df = pd.concat([df2_selected,df3_selected,df4_selected,df5_selected,df6_selected,df0_selected], ignore_index=True)
final_df.head()

,LOB,Product Holding Code,"Secondary product Holding Code (Loan No, Policy No, TRXN_NO)",Product DESC/ Name,"Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)",Disbursal/Issued Date,Login Date,Tenure/PPT,ROI/AGE/NOP,Source,Final Status,Customer name,Type of Product
0,ABSAMC,1014175569,AYIPS7306P,ABSL Midcap Fund -PLAN-Growth,1999.90,2024-01-04,2024-01-04 00:00:00,,,Purchase SIP,ARN-270149,Anita Shenoy,NaN
1,ABSAMC,1015253376,AARPT8581E,ABSL Pure Value Fund - Growth,1499.93,2024-01-18,2024-01-18 00:00:00,,,Purchase SIP,ARN-270149,Vijay Tiwari,NaN
2,ABSAMC,1016280560,AGVPD4160H,ABSL PSU Equity Fund Regular-Growth,249987.50,2024-01-11,2024-01-11 00:00:00,,,Purchase,ARN-270149,Singdha Das,NaN
3,ABSAMC,1016280560,AGVPD4160H,ABSL PSU Equity Fund Regular-Growth,149992.50,2024-01-12,2024-01-12 00:00:00,,,Purchase,ARN-270149,Singdha Das,NaN
4,ABSAMC,1016280560,AGVPD4160H,ABSL Digital India Fund - Growth,149992.50,2024-01-12,2024-01-12 00:00:00,,,Purchase,ARN-270149,Singdha Das,NaN

In [42]:
df1 = pd.read_excel("Collated Login Tracker.xlsx", sheet_name= "Branch & Pifa")
df = pd.read_excel("Collated Login Tracker.xlsx", sheet_name= "Call Center")
df1.head()

,"Product Holding Code (Deal No, Proposal ID, Application ID, Folio No, Finserv No, Policy NO, Loan No)",BCSM ADID,BCSM Name,RCSM Name,ZCSM Name,Customer Name (First & Last Name in Proper),Unnamed: 6,Unnamed: 7,Mob No.,Unnamed: 9,Unnamed: 10
0,12-23-0007359-00,IN542657,Raghvendra Singh,Satya brat,Manish Mishra,Manoj Kumar,NaN,NaN,NaN,NaN,NaN
1,21-23-3864440-00,AD561854,Anshul Sharma,Rasesh Sejpal,Anurag Roopam,Randhor Singh Narwaring,NaN,NaN,8770835711,NaN,NaN
2,DLBVN0HL-04230215050,AD555000,Govind Lakhamanbhai Gilatar,Rasesh Sejpal,Anurag Roopam,HAMIRBHAI SAGRAMBHAI RATHOD,NaN,NaN,9898599939,NaN,NaN
3,DLIND0HL-04230215557,AD546095,Rahul Nagar,Rasesh Sejpal,Anurag Roopam,Hari pal,NaN,NaN,9399215508,NaN,NaN
4,DLBAR0HL- 05230217910,AD530044,Jay Vikramsinh Mangrola,Rasesh Sejpal,Anurag Roopam,Vilas Patere,NaN,NaN,9824314154,NaN,NaN

In [43]:
df.head()

,Application Id/Proposer number,Agent Code,Name,Floor Managers,Customer Name,Mobile Number,VP/HEAD
0,LA00060252,SS565723,LEENA,Padamanaban,KUNAL LALIT KAISTHA,9910150965,NaN
1,230001393141,SS565542,MITALI,Padamanaban,AGALDIVITY DEEPAK,8328270205,NaN
2,230001392193,SS565723,LEENA,Padamanaban,BHAKTI ROMIN GAVANKAR,9833005175,NaN
3,Q230005492154,SS565468,KAVITA,Padamanaban,Sushil singh,9463791537,NaN
4,92067,SS572037,Munmun,Lokesh,RIYASAT ALI,9813079103,NaN

In [44]:
final_df['BCSM ADID'] = ''
final_df['BCSM Name'] = ''
final_df['RCSM Name'] = ''
final_df['ZCSM Name'] = ''
final_df['Agent Code'] = ''
final_df['Name'] = ''
final_df['Floor Managers '] = ''
final_df['VP/HEAD'] = ''

In [45]:
My_dic = dict(zip(df1['Product Holding Code (Deal No, Proposal ID, Application ID, Folio No, Finserv No, Policy NO, Loan No)'], df1['BCSM ADID']))
My_dic1 = dict(zip(df1['Product Holding Code (Deal No, Proposal ID, Application ID, Folio No, Finserv No, Policy NO, Loan No)'], df1['BCSM Name']))
My_dic2 = dict(zip(df1['Product Holding Code (Deal No, Proposal ID, Application ID, Folio No, Finserv No, Policy NO, Loan No)'], df1['RCSM Name']))
My_dic3 = dict(zip(df1['Product Holding Code (Deal No, Proposal ID, Application ID, Folio No, Finserv No, Policy NO, Loan No)'], df1['ZCSM Name']))
My_dic4 = dict(zip(df['Application Id/Proposer number'], df['Agent Code']))
My_dic5 = dict(zip(df['Application Id/Proposer number'], df['Name']))
My_dic6 = dict(zip(df['Application Id/Proposer number'], df['Floor Managers ']))
My_dic7 = dict(zip(df['Application Id/Proposer number'], df['VP/HEAD']))

In [46]:
final_df['BCSM ADID'] = final_df['Product Holding Code'].map(My_dic)
final_df['BCSM Name'] = final_df['Product Holding Code'].map(My_dic1)
final_df['RCSM Name'] = final_df['Product Holding Code'].map(My_dic2)
final_df['ZCSM Name'] = final_df['Product Holding Code'].map(My_dic3)
final_df['BCSM ADID'] = final_df['Secondary product Holding Code (Loan No, Policy No, TRXN_NO)'].map(My_dic).fillna(final_df['BCSM ADID'])
final_df['BCSM Name'] = final_df['Secondary product Holding Code (Loan No, Policy No, TRXN_NO)'].map(My_dic1).fillna(final_df['BCSM Name'])
final_df['RCSM Name'] = final_df['Secondary product Holding Code (Loan No, Policy No, TRXN_NO)'].map(My_dic2).fillna(final_df['RCSM Name'])
final_df['ZCSM Name'] = final_df['Secondary product Holding Code (Loan No, Policy No, TRXN_NO)'].map(My_dic3).fillna(final_df['ZCSM Name'])

In [47]:
final_df['Agent Code'] = final_df['Product Holding Code'].map(My_dic4)
final_df['Name'] = final_df['Product Holding Code'].map(My_dic5)
final_df['Floor Managers '] = final_df['Product Holding Code'].map(My_dic6)
final_df['VP/HEAD'] = final_df['Product Holding Code'].map(My_dic7)
final_df['Agent Code'] = final_df['Secondary product Holding Code (Loan No, Policy No, TRXN_NO)'].map(My_dic4).fillna(final_df['Agent Code'])
final_df['Name'] = final_df['Secondary product Holding Code (Loan No, Policy No, TRXN_NO)'].map(My_dic5).fillna(final_df['Name'])
final_df['Floor Managers '] = final_df['Secondary product Holding Code (Loan No, Policy No, TRXN_NO)'].map(My_dic6).fillna(final_df['Floor Managers '])
final_df['VP/HEAD'] = final_df['Secondary product Holding Code (Loan No, Policy No, TRXN_NO)'].map(My_dic7).fillna(final_df['VP/HEAD'])

In [48]:
final_df.head()

,LOB,Product Holding Code,"Secondary product Holding Code (Loan No, Policy No, TRXN_NO)",Product DESC/ Name,"Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)",Disbursal/Issued Date,Login Date,Tenure/PPT,ROI/AGE/NOP,Source,...,Customer name,Type of Product,BCSM ADID,BCSM Name,RCSM Name,ZCSM Name,Agent Code,Name,Floor Managers,VP/HEAD
0,ABSAMC,1014175569,AYIPS7306P,ABSL Midcap Fund -PLAN-Growth,1999.90,2024-01-04,2024-01-04 00:00:00,,,Purchase SIP,...,Anita Shenoy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABSAMC,1015253376,AARPT8581E,ABSL Pure Value Fund - Growth,1499.93,2024-01-18,2024-01-18 00:00:00,,,Purchase SIP,...,Vijay Tiwari,NaN,HI528173,Ashish Pareek,Manoj Kumar,Manish Mishra,NaN,NaN,NaN,NaN
2,ABSAMC,1016280560,AGVPD4160H,ABSL PSU Equity Fund Regular-Growth,249987.50,2024-01-11,2024-01-11 00:00:00,,,Purchase,...,Singdha Das,NaN,IN562038,Rahul Gupta,Tamaghana Mitra,Jayaprakash Mahankali,NaN,NaN,NaN,NaN
3,ABSAMC,1016280560,AGVPD4160H,ABSL PSU Equity Fund Regular-Growth,149992.50,2024-01-12,2024-01-12 00:00:00,,,Purchase,...,Singdha Das,NaN,IN562038,Rahul Gupta,Tamaghana Mitra,Jayaprakash Mahankali,NaN,NaN,NaN,NaN
4,ABSAMC,1016280560,AGVPD4160H,ABSL Digital India Fund - Growth,149992.50,2024-01-12,2024-01-12 00:00:00,,,Purchase,...,Singdha Das,NaN,IN562038,Rahul Gupta,Tamaghana Mitra,Jayaprakash Mahankali,NaN,NaN,NaN,NaN

In [49]:
M_df = pd.read_excel("Mapping File.xlsx" , sheet_name="Sheet1")
M_df.head()

,Sr No.,RCSM / ACSM / FM,ZCSM / ZH,Channel,Team,Sr No..1,RCSM / ACSM / FM.1,ZCSM / ZH.1,Channel.1,Team.1,Mail Id
0,FM,Padamanaban,Deepak Ramasamy,Call Center,Chennai,ACSM,Gaurang Tawde,Anurag Roopam,Branch,West,gaurang.tawde@adityabirlacapital.com
1,FM,Lokesh,Deepak Ramasamy,Call Center,Chennai,RCSM,Rasesh Sejpal,Anurag Roopam,Branch,West,Rasesh.Sejpal@adityabirlacapital.com
2,FM,Vishwajeet Sharma,Deepak Ramasamy,Call Center,CDI,RCSM,Tushar Bhutada,Anurag Roopam,Branch,West,tushar.bhutada@adityabirlacapital.com
3,FM,Shoaib Khan,Deepak Ramasamy,Call Center,CDI,RCSM,Roji R,Jayaprakash Mahankali,Branch,East & South,Roji.R@adityabirlacapital.com
4,FM,Harsh Singh,Deepak Ramasamy,Call Center,EOS,ACSM,Shaikh Fahad,Jayaprakash Mahankali,Branch,East & South,shaik.fahad@adityabirlacapital.com

In [50]:
len(final_df)

2422

In [51]:
My_dict = dict(zip(M_df['RCSM / ACSM / FM'], M_df['Team']))
print(My_dict)

{'Padamanaban': 'Chennai', 'Lokesh': 'Chennai', 'Vishwajeet Sharma': 'CDI', 'Shoaib Khan': 'CDI', 'Harsh Singh': 'EOS', 'Gayatri': 'Globiva', 'Krishna Pathak': 'Malad', 'David Fernandes': 'Malad', 'Jaskaran Singh': 'Malad', 'Aashish Gupta': 'Malad', 'Rohan Abraham': 'Malad', 'Denzil Gonsalves': 'Malad', 'Lokesh Varma': 'Malad', 'Sewly Das': 'Malad', 'Sachin Gupta': 'Malad', 'Nancy Pooraj': 'Malad', 'Ankita Margale': 'Malad', 'Deepak': 'Chennai', 'Surendhar': 'Chennai', 'Surendran': 'Chennai', 'Jency': 'Chennai', 'Mahesh V': 'Chennai', 'Brahmanand Jadhav': 'CDI', 'Gayathri': 'Globiva', 'Padmanbhan': 'Chennai', 'Mukesh PanneerSelvam': 'Chennai', 'Yerra Ramesh': 'Malad', 'Chamraj': 'Globiva', 'Ravindra Gade': 'CDI', 'Cham Raj': 'Globiva', 'Esha Patel': 'Malad', 'Sohel Sayyed': 'Malad', 'Brindha': 'Chennai', 'Aashish gupta': 'Malad', 'Umesh Yadav': 'Malad'}

In [52]:
#final_df['Channel'] = np.where(((final_df['ZCSM Name']== 'Manish Mishra') | (final_df['ZCSM Name']== 'Anurag Roopam') |(final_df['ZCSM Name']== 'Jayaprakash Mahankali')),'Branch', (np.where(final_df['ZCSM Name']== 'Deepak Ramasamy','Call center','Missing')))
#final_df['Team'] = np.where(final_df['ZCSM Name']== 'Manish Mishra','North',(np.where(final_df['ZCSM Name']== 'Anurag Roopam','West',(np.where(final_df['ZCSM Name']== 'Jayaprakash Mahankali','East & South',(np.where(final_df['Channel'] == 'Missing','Missing','')))))))
#final_df['Team'] = final_df['RCSM Name'].map(My_dict).fillna(final_df['Team'])

In [53]:
final_df['Disb Month'] = final_df['Disbursal/Issued Date'].dt.month_name().str[:3]
final_df['Disb Day'] = final_df['Disbursal/Issued Date'].dt.day
final_df = final_df.astype({'BCSM ADID': str})
final_df['EMP ID'] = final_df['BCSM ADID'].str[-6:]
dic_count = dict(1/final_df['Product Holding Code'].value_counts())
final_df['Final_Count']= final_df['Product Holding Code'].map(dic_count)
final_df.head()

,LOB,Product Holding Code,"Secondary product Holding Code (Loan No, Policy No, TRXN_NO)",Product DESC/ Name,"Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)",Disbursal/Issued Date,Login Date,Tenure/PPT,ROI/AGE/NOP,Source,...,RCSM Name,ZCSM Name,Agent Code,Name,Floor Managers,VP/HEAD,Disb Month,Disb Day,EMP ID,Final_Count
0,ABSAMC,1014175569,AYIPS7306P,ABSL Midcap Fund -PLAN-Growth,1999.90,2024-01-04,2024-01-04 00:00:00,,,Purchase SIP,...,NaN,NaN,NaN,NaN,NaN,NaN,Jan,4,nan,1.000000
1,ABSAMC,1015253376,AARPT8581E,ABSL Pure Value Fund - Growth,1499.93,2024-01-18,2024-01-18 00:00:00,,,Purchase SIP,...,Manoj Kumar,Manish Mishra,NaN,NaN,NaN,NaN,Jan,18,528173,1.000000
2,ABSAMC,1016280560,AGVPD4160H,ABSL PSU Equity Fund Regular-Growth,249987.50,2024-01-11,2024-01-11 00:00:00,,,Purchase,...,Tamaghana Mitra,Jayaprakash Mahankali,NaN,NaN,NaN,NaN,Jan,11,562038,0.333333
3,ABSAMC,1016280560,AGVPD4160H,ABSL PSU Equity Fund Regular-Growth,149992.50,2024-01-12,2024-01-12 00:00:00,,,Purchase,...,Tamaghana Mitra,Jayaprakash Mahankali,NaN,NaN,NaN,NaN,Jan,12,562038,0.333333
4,ABSAMC,1016280560,AGVPD4160H,ABSL Digital India Fund - Growth,149992.50,2024-01-12,2024-01-12 00:00:00,,,Purchase,...,Tamaghana Mitra,Jayaprakash Mahankali,NaN,NaN,NaN,NaN,Jan,12,562038,0.333333

In [54]:
final_df.index.name = "Sr No"
final_df["Product DESC/ Name"].replace(to_replace=["STUL","STSL"],
           value="BL")
Col = ['LOB', 'Product Holding Code',
       'Secondary product Holding Code (Loan No, Policy No, TRXN_NO)',
       'Product DESC/ Name',
       'Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)',
       'Disbursal/Issued Date', 'Login Date', 'Tenure/PPT', 'ROI/AGE/NOP',
       'Disb Month', 'Disb Day','Type of Product', 
       'BCSM ADID','BCSM Name','RCSM Name','ZCSM Name', 'Source',
       'Final Status', 'Final_Count','EMP ID', 'Customer name','Agent Code','Name','Floor Managers ','VP/HEAD']
final_d = final_df.loc[:, Col]

In [55]:
final_d.columns

Index(['LOB', 'Product Holding Code',
       'Secondary product Holding Code (Loan No, Policy No, TRXN_NO)',
       'Product DESC/ Name',
       'Disbursal/Issued Amt (TRXN_AMOUNT, Disb AMT, GWP, CP)',
       'Disbursal/Issued Date', 'Login Date', 'Tenure/PPT', 'ROI/AGE/NOP',
       'Disb Month', 'Disb Day', 'Type of Product', 'BCSM ADID', 'BCSM Name',
       'RCSM Name', 'ZCSM Name', 'Source', 'Final Status', 'Final_Count',
       'EMP ID', 'Customer name', 'Agent Code', 'Name', 'Floor Managers ',
       'VP/HEAD'],
      dtype='object')

In [56]:
final_d.to_excel('Final format.xlsx')